@font-face {
    font-family: 'Press Start 2P Regular';
    src: url('../assets/fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'Joystix Mono Regular';
    src: url('../assets/fonts/joystix_monospace.ttf');
}

body {
    font-family: 'Joystix Mono Regular';
    font-size: 14px;
    background-color: #000;
    color: #eef;
}

.u-meta-wrapper {
    max-width: 1000px;
    margin: 10px auto 10px auto;
    background-color: #004;
    border-top: 7px solid #fa0;
}

.u-table {
    border-collapse: collapse;
}

.u-table th {
    border-bottom: 4px solid #ddf;
}

.u-table td {
    border: 1px solid #99f;
}