@font-face {
    font-family: 'Press Start 2P Regular';
    src: url('../assets/fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'Joystix Mono Regular';
    src: url('../assets/fonts/joystix_monospace.ttf');
}

body {
    font-family: 'Lato';
    font-size: 16px;
    letter-spacing: 2px;
    background: url('../assets/images/bg/circuit_board_dark.jpg');
    background-position: right top;
    background-attachment: fixed;
}

h1, h2, h3, h4 {
    font-family: 'Joystix Mono Regular';
    color: #fff;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

a, a:visited {
    text-decoration: none;
    color: #fff;
}

.u-pull-right {
    float: right;
}

.u-link-button {
    display: inline-block;
    border: 2px solid #fff;
    margin-bottom: 2px;
    padding: 5px;
    color: fff;
    background-color: #00f;
}

.u-link-button:hover {
    color: #00f;
    background-color: #fff;
}

.u-button {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    background-color: #0ff;
    display: inline-block;
    border: 2px solid #007;
    font-family: 'Joystix Mono Regular';
    font-size: 14px;
}

.u-button:hover {
    background-color: #fff;
    cursor: pointer;
}

.u-fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.u-text-input {
    background-color: #fff;
    color: #007;
    border: 1px solid #00f;
    padding: 3px;
    font-family: 'Monaco', 'Consolas', monospace;
    font-size: 14px;
}

.u-fill {
    width: 100%;
}

.u-pointer {
    cursor: pointer;
}

.u-options {
    background-color: #aef;
    padding: 10px;
}

.u-meta-wrapper {
    max-width: 1000px;
    margin: 10px auto 10px auto;
    background-color: rgba(0, 180, 255, 90%);
    border-top: 7px solid #f00;
    padding: 5px 50px 5px 50px;
}

.u-table {
    background-color: #ccc;
    border-collapse: collapse;
    width: 100%;
}

.u-table thead {
    position: sticky;
    top: 0;
    font-family: 'Verdana', sans-serif;
}

.u-table th {
    background-color: #f00;
    color: #555;
    position: sticky;
    top: 0;
    text-align: left;
    padding: 5px;
}

.u-table th.u-th-selected {
    background-color: #ff0;
}

.u-table th.u-th-selectable {
    color: #000;
}

.u-table th.u-th-selectable:hover {
    cursor: pointer;
    background-color: #00f;
    color: #fff;
}

.u-table td {
    border-bottom: 2px solid #eee;
    padding: 0 3px 0 3px;
    overflow: scroll;
}

.u-table td:first-child {
    background-color: #ccc;
    border-right: 2px solid #eee;
    padding: 0;
}

.u-table tbody tr:hover {
    background-color: #ecc;
    cursor: cell;
    /* color: #fff; */
}